:root {
    --color-white1: rgb(255, 255, 255);
    --color-grey1: rgb(184, 184, 184);
    --color-grey2: rgb(124, 124, 124);
    --color-grey3: rgb(24, 24, 24);
    --color-green1: rgb(103, 195, 80);
    --color-green2: rgb(51, 149, 26);
    --color-red: rgb(184, 40, 35);
    --color-red2: rgb(146, 22, 17);
    --color-yellow1: rgb(255, 233, 134);
    --color-yellow2: rgb(252, 221, 83);
    --color-yellow3: rgb(255, 208, 0);
}

body {
    font-family: 'Lato';
    background-color: var(--color-grey1);
    color: var(--color-grey3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Links */

a {
  font-weight: bold;
}

a.linkExterno:link,
:visited {
  color: #999;
  text-decoration-line: none;
  text-align: center;
}

a.linkExterno:hover {
  color: #888;
  text-decoration: underline;
}

/* Textos */

h1 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.subtitulo {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    
}

.desenvolvedor {
    font-size: 12px;
    color: #999;
  }

/* Estruturas */

.conteudo {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conteudoAdicionar {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}

.conteudoListado {
    margin: 0px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color-yellow3);
    box-shadow: 0px 0px 10px #666;
}

.conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

/* Lista */

#tarefasListadas {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tarefasListadas li{
    padding-left: 20px;
    list-style-type: none;
    border-bottom: 1px solid var(--color-yellow2);
    background-color: transparent;
    color: var(--color-dark1);
    font-size: 15px;
    text-transform: capitalize;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#tarefasListadas li:hover{
    padding-left: 25px;
    border-radius: 25px;
    background-color: var(--color-yellow1);
    transition: .4s;
}

/* Inputs */

#textoNova, #botaoNova {
    border: none;
    font-size: 16px;
    outline: none;
}

#textoNova {
    padding: 5px 20px;
    width: 320px;
    height: 30px;
    border: 1px solid var(--color-white1);
    border-radius: 25px;
}

/* Botões */

#botaoNova {
    padding: 8px;
    background-color: var(--color-grey2);
    color: var(--color-white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 400ms;
}

#botaoNova:hover {
    background-color: var(--color-grey3);
}

#botaoFeito {
    border: none;
    background-color: transparent;
    color: var(--color-grey3);
    padding: 10px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#botaoFeito:hover {
    background-color: var(--color-green1);
}